/* Reset some default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  /* Basic styling */
  body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #262322;
  }
  
  header {
	background-color: #3F5E31;
	color: #E7EBC5;
	/* padding: 10px 0; */
  }
  
  nav ul {
	background: linear-gradient(#141e0f, #3F5E31, #5b7e2f, #3F5E31, #141e0f);
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
  }
  
  nav ul li {
	display: inline-block;
	margin-right: 10px;
  }
  
  nav ul li a {
	color: #E7EBC5;
	text-decoration: none;
	padding: 10px;
  }

  nav ul li .current{
	background: linear-gradient( #493e1d, #FFC100, #FFDC6C, #FFC100, #493e1d);
	color: #fff;
	text-decoration: none;
  }
  
  main {
	margin-top: 20px;
  }
  
  footer {
	background-color: #000000;
	color: #E7EBC5;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
	header {
	  padding: 5px;
	}
  
	nav ul li {
	  display: block;
	  margin-bottom: 5px;
	}
  }